div.Landing{
    background-image: url("https://wallpaperaccess.com/full/273216.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 580px;
}

div.welcome-image{
    width:100%;
    position: absolute;
    bottom:0;
}

h1.videogamesapp{
    color: #e41313
}

div.buttonAccessContainer{
    position: absolute;
    bottom: 50px;
    left: 45%;
    border-style: double;
    border-color: white;
}

button.buttonAccess{
    height: 50px;
    width: 130px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: black;
    color: white;
}