ul.ulPaginado{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
    text-align: center;
    font-size: 30px;
}
div.divPaginado{
    display: flex;
    justify-content: center;
}

a.number{
    color: #8a0f0f;
    font-family: "Copperplate", Fantasy;
}
